{% extends 'common/tpl_blog.html' %}
{% load static %}
{% block title %}江华本地生活-百里不止百步-博客 {% endblock %}
{% block page-content %}
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">摆渡人-黄泉 观后感</a></h2>
						<div class="entry">
                            <p>
                                世间万物，唯情不死。心有所念，情有所牵。 光阴流转，万物终归寂灭。
                            </p>
						</div>
						<p class="meta">
                            世间万物，唯情不死。心有所念，情有所牵。 光阴流转，万物终归寂灭。
                        </p>
					</div>

					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>博主简介</h2>
							<p>世间万物，唯情不死。心有所念，情有所牵。 光阴流转，万物终归寂灭。</p>
						</li>
						<li>
							<h2>最新博客</h2>
							<ul>
								<li><a href="#">本周票房TOP10</a></li>
								<li><a href="#">摆渡人</a></li>
								<li><a href="#">勇敢的心</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
{% endblock %}
