{% extends 'common/tpl_blog.html' %}
{% load static %}
{% block title %}江华本地生活-百里不止百步-相册 {% endblock %}
{% block page-content %}
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">欢迎来到凤姐的相册空间</a></h2>
						<div class="entry">
                            <p>
                                <strong>

                                    这里有凤姐的相册
                                </strong>

                            </p>
						</div>
						<p class="meta">
                            每一个相册的底部
                        </p>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>博主简介</h2>
							<p>世间万物，唯情不死。心有所念，情有所牵。 光阴流转，万物终归寂灭。</p>
						</li>
						<li>
							<h2>最新博客</h2>
							<ul>
								<li><a href="#">怎样解决编程语言之间的差异性问题？</a></li>
								<li><a href="#">嘴上说着喜爱Java 9 ，身体却诚实地拥抱了Java 8</a></li>
								<li><a href="#">5 种使用 Python 代码轻松实现数据可视化的方法</a></li>
								<li><a href="#">编程语言 IDE 对比</a></li>
								<li><a href="#">Java NIO 系列教程</a></li>
								<li><a href="#">Java 8 简明教程</a></li>
							</ul>
						</li>
						<li>
							<h2>股票快讯</h2>
							<ul>
								<li><a href="#">5 种使用 Python 代码轻松实现数据可视化的方法</a></li>
								<li><a href="#">七行JSON代码将你的网站变成移动应用</a></li>
								<li><a href="#">深入理解Android消息机制</a></li>
								<li><a href="#">常用的几种大数据架构剖析</a></li>
								<li><a href="#">异步系统的两种测试方法</a></li>
								<li><a href="#">Redis 在现实世界的 5 个用法</a></li>
							</ul>
						</li>
						<li>
							<h2>投资快讯</h2>
							<ul>
								<li><a href="#">灌水乐园 </a></li>
								<li><a href="#">solr交流圈 </a></li>
								<li><a href="#">希特勒灌水委员会</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
{% endblock %}
