<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录页面</title>
</head>
<body>

    <form action="/login/" method="post" enctype="multipart/form-data">
        <p>
            <input type="text" name="user" placeholder="请输入用户名">
        </p>
        <p>
            <input type="password" name="pwd" placeholder="请输入密码">
        </p>

        <p>
            <input type="checkbox" name="services" value="中国移动">中国移动
            <input type="checkbox" name="services" value="中国联通">中国联通
            <input type="checkbox" name="services" value="中国电信">中国电信
        </p>

           <p>
            <select name="city" multiple>
                <option value="bj">北京</option>
                <option value="sz">深圳</option>
                <option value="nj">南京</option>
            </select>
        </p>
        <p>
            <input type="radio" name="sex" value="男">男
            <input type="radio" name="sex" value="女">女
        </p>

        <p>
            <input type="file" name="upload_file">
        </p>
            <input type="submit" value="提交">
    </form>
</body>
</html>