{% extends 'common/tpl_blog.html' %}

{% block title %} 江华本地生活-　百里不止百步 -- sunke{% endblock %}

{% block page-css %}
<style type="text/css">
    .declare-label{
        font-family: "Microsoft YaHei",Arial,Helvetica;
        font-size: 14px;
        text-align: right;
    }
     .declare-label-2{
        font-family: "Microsoft YaHei",Arial,Helvetica;
        font-size: 14px;
        text-align: right;
        color: red;
    }
</style>
{% endblock %}

{% block page-content %}
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content-full">
					<div class="post">
                        <p style="line-height: 30px">
                            <span class="declare-label"><strong>本系统提醒您</strong></span><br/>
                                在使用本系统的所有功能之前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用本系统，但如果您使用本系统，您的使用行为将被视为对本声明全部内容的认可。<br/><br/>
                            <span class="declare-label-2"><strong>免责声明</strong></span><br/>
                                1. 本网站尽力严谨处理本网站所载信息和资料，但对其准确性、充分性、完整性及其使用的适当性等不做任何保证；本网站不对本网站内第三者所提供资料的任何错误或遗漏承担任何法律责任，您应自行承担依据本网站资料与信息所作决策的所有风险。<br/>
                                2. 您理解并确认，本网站所登载信息与资料具有时效性，您在阅读资料或信息的时间与资料或信息有可能因所基于的资料或信息发布日之后的情势或其他因素的变更而不再准确或失效。本网站不对您由于本网站所登载信息与资料的时效性所作决策承担任何法律责任。<br/>
                                3. 您理解并确认，本网站为向用户提供便利而设置的外部链接网页（如有）的内容并非由本网站实际控制，本站会对该外部链接功能进行定期检查，但本网站不能保证其所载入信息的真实性、准确性、充分性、完整性和时效性，同时，亦不应视为本网站同意、推荐、认可、保证或推介任何第三方或其网站所提供的服务/产品，您须自行识别、判断该等网站信息的可靠性。<br/>
                                4. 您理解并确认，本网站介绍的信息和资料并非旨在提供任何形式的建议（包括但不限于投资、税收、会计或法律等的建议）。这些信息和资料仅供一般性参考，不应被视为购买或销售任何金融产品的某种要约，亦并不构成本网站对任何金融产品投资收益的保证。<br/>
                                5. 您理解并确认，未经本网站书面许可，您或您所代表的机构不得转载和发布本网站内的任何信息。<br/>
                                6. 本公司就本网站各项服务的安全、无误及不中断不承担任何明示或默示的保证责任。您同意自行承担使用本网站服务的所有风险及因该等风险可能造成的任何损害。对于因技术故障（如传输错误、技术缺陷、第三者侵入等）而导致的任何数据缺失等，本网站不承担任何责任。<br/>
                                7. 本网站的内容将不定期更新或调整。本网站所载或所涉及的信息和资料的及时性、准确性、完整性不作任何担保或保证。本网站保留无需事先通知即可删除或修改网站信息的权利。<br/>
                                8. 对于因您进入、访问或使用本网站，或无法进入、访问或使用本网站而可能对您导致的任何直接或间接损失，本网站不承担任何责任。<br/>
                                9. 本网站应当具有法律法规规定的其它有关免责规定项下所有权利，本网站没有主张或迟延主张该等权利并不应当被视为本网站对于该等权利的放弃。对于法律法规规定的免责权利的放弃，本网站将一概采取书面方式；本网站对一项权利做出书面放弃，并不视为本网站对其他权利的放弃。<br/>
                                10. 进入、访问与使用本网站，以及本条款受中华人民共和国法律管辖，并依照中华人民共和国法律解释。<br/>
                                11. 如因本网站产生的任何争议，将以本公司所在地法院为管辖法院，除非中国法律另有强制性规定。<br/>
                                12. 本网站对该协议享有最终的解释权。<br/><br/>
                            <span class="declare-label-2"><strong>关于隐私权</strong></span><br/>
                                访问者在本网站注册时提供的一些个人资料，本网站除您本人同意外不会将用户的任何资料以任何方式泄露给第三方。当政府部门、司法机关等依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料，在此情况下的披露，本网站不承担任何责任。<br/><br/>
                            <span class="declare-label-2"><strong>关于版权</strong></span><br/>
                                1. 凡本网站注明“国家知识产权局”、“专利检索及分析”的所有作品，其版权属于国家知识产权局和本网站所有。其他媒体、网站或个人转载使用时不得进行商业性的原版原式的转载，也不得歪曲和篡改本网站所发布的内容。<br/>
                                2. 凡本网站转载其它媒体作品的目的在于传递更多信息，并不代表本网站赞同其观点和对其真实性负责；其他媒体、网站或个人转载使用时必须保留本站注明的文章来源，并自负法律责任。<br/>
                                3. 被本网站授权使用的单位，不应超越授权范围。<br/>
                                4. 本网站提供的资料如与相关纸质文本不符，以纸质文本为准。<br/>
                                5. 如因作品内容、版权和其它问题需要同本网站联系的，请在本网站发布该作品后的30日内进行。<br/><br/>
                            <span class="declare-label-2"><strong>关于解释权</strong></span><br/>
                                本网站之声明以及其修改权、更新权及最终解释权均属本站以及国家知识产权局所有。<br/>
                        </p>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
{% endblock %}